<aside class="sidebar">
	<nav>
		<h3>Gerenciamento</h3>
		<ul>
			<li>
				<a href="{{ url_for('admin') }}">Inicio</a>
			</li>
			<li>
				<a href="{{ url_for('cadastro') }}">Cadastrar novo terreno</a>
			</li>
			<li>
				<a href="{{ url_for('listar_terrenos_para_deletar') }}">Deletar Terreno</a>
			</li>
		</ul>
		<h3>Usuários</h3>
		<ul>
			<li>
				<a href="{{ url_for('cadastro_usuario') }}"> Cadastrar admin </a>
			</li>
			<li>
				<a href="{{ url_for('atualiza_membro_diretoria') }}">Adicionar membro da Diretoria</a>
			</li>
		</ul>
		<h3>Tesouraria</h3>
		<ul>
			<li>
				<a href="{{ url_for('registrar_contribuicao') }}"> Registrar contribuição </a>
			</li>
			<li>
				<a href="{{ url_for('visualizar_contribuicoes') }}"> Visualizar contribuições </a>
			</li>
		</ul>
	</nav>
	{% include "partials/footer.html" %}
</aside>