<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilo.css') }}">
    <title>Área Administrativa</title>
    <style>
        /* Estilo do iframe */
        .content-iframe {
            width: 100%; /* Largura do iframe */
            height: 500px; /* Altura do iframe */
            border: 1px solid #ccc; /* Borda do iframe */
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <h1>Bem-vindo, {{ current_user.username }}!</h1>
    <a href="{{ url_for('cadastro_usuario') }}"><button type="button">Cadastrar novo usuário</button></a>
    <a href="{{ url_for('logout') }}"><button type="button">Logout</button></a><br><br>
    <a href="{{url_for('tesouraria')}}"><button type="button">Tesouraria</button></a>
    <h2>Lista de Terrenos</h2>
    <table>
        <tr>
            <th>Lote</th>
            <th>CPF</th>
            <th>Nome Completo</th>
        </tr>
        {% for terreno in terrenos %}
        <tr>
            <td>{{ terreno.lote }}</td>
            <td>{{ terreno.cpf }}</td>
            <td>{{ terreno.nome_completo }}</td>
        </tr>
        {% endfor %}
    </table>
    <div class="pagination">
        {% if pagination.has_prev %}
            <a href="{{ url_for('admin', page=pagination.prev_num) }}"><button type="button">Anterior</button></a>
        {% else %}
            <span>Anterior</span>
        {% endif %}
        <span>Página {{ pagination.page }} de {{ pagination.pages }}</span>
        {% if pagination.has_next %}
            <a href="{{ url_for('admin', page=pagination.next_num) }}"><button type="button">Proximo</button></a>
        {% else %}
            <span>Próximo</span>
        {% endif %}
    </div>
    
    <h2>Gerenciamento de Terrenos</h2>
    <button type="button" onclick="loadIframe(cadastroUrl)">Cadastrar novo terreno</button>
    <button type="button" onclick="loadIframe(deletarUrl)">Deletar Terreno</button>
    <button type="button" onclick="loadIframe(add_membro_diretoria)">Adicionar membro da Diretoria</button>
    
    <!-- Iframe onde as páginas serão carregadas -->
    <iframe src="" class="content-iframe" id="contentIframe"></iframe>

    <script>
        var cadastroUrl = "{{ url_for('cadastro') }}";
        var deletarUrl = "{{ url_for('listar_terrenos_para_deletar') }}";
        var add_membro_diretoria ="{{url_for('atualiza_membro_diretoria')}}";
        function loadIframe(url) {
            document.getElementById('contentIframe').src = url;
        }
    </script>
</body>
</html>
