{% extends "base.html" %}
{% block title %}Cadastro de Usuário{% endblock %} 
{% block link %}<link rel="stylesheet" href="{{ url_for('static', filename='css/cadastro_usuario.css') }}" />{% endblock %} 
{% block content %}
<h1>Cadastro de Administrador</h1>
	<form method="POST" action="{{ url_for('cadastro_usuario') }}">
		<input type="text" id="username" name="username" placeholder="Nome de Usuario" required>
		<input type="password" id="password" name="password" placeholder="Senha" required>
		</select>
		<button type="submit">Cadastrar</button>
	</form>
	<a href="{{ url_for('admin') }}"><button type="button">Voltar para a área administrativa</button></a>
{% endblock %}