{% extends "base-logged.html" %}
{% block title %}Cadastro de Terreno{% endblock %}
{% block link2 %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/cadastro.css') }}" />{% endblock %}
{% block section %}
<section>
	<h2>Cadastrar novo Terreno</h2>
	<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit facere, officia non</p>
	<form method="POST" action="{{ url_for('cadastro') }}">
		<div>
			<label for="">Lote</label>
			<input type="text" id="lote" name="lote" placeholder="Lote" required>
		</div>
		<div>
			<label for="">CPF</label>
			<input type="text" id="cpf" name="cpf" placeholder="CPF" required>
		</div>
		<div>
			<label for="">Nome Completo</label>
			<input type="text" id="nome_completo" name="nome_completo" placeholder="Nome completo" required>
		</div>
		<button type="submit">Cadastrar</button>
	</form>
</section>
{% endblock %}