{% extends "base-logged.html" %}
{% block title %}Deletar Terrenos{% endblock %}
{% block link2 %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/deletar_terrenos.css') }}" />{% endblock %}
{% block section %}
<section>
	<h2>Deletar Terrenos</h2>
	<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit facere, officia non</p>
	<div class="search">
		<form method="POST" action="{{ url_for('listar_terrenos_para_deletar') }}">
			<input type="text" name="busca" placeholder="Buscar por Lote">
			<button type="submit">Buscar</button>
		</form>
	</div>
	<table>
		<thead>
			<tr>
				<th>Lote</th>
				<th>CPF</th>
				<th>Nome Completo</th>
				<th>Ação</th>
			</tr>
		</thead>
		<tbody>
			{% for terreno in terrenos %}
			<tr>
				<td>{{ terreno.lote }}</td>
				<td>{{ terreno.cpf }}</td>
				<td>{{ terreno.nome_completo }}</td>
				<td>
					<form action="{{ url_for('deletar_terreno', id=terreno.id) }}" method="post">
						<button type="submit" class="delete">Deletar</button>
					</form>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</section>
{% endblock %}