{% extends "base.html" %}
{% block title %}Diretoria ACPRAF{% endblock %}
{% block link %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/diretoria.css') }}" />
{% endblock %}
{% block content %}
<h1>Conheça a Diretoria</h1>

<div class="diretoria">
  <div class="diretor">
    <div class="foto">
      <img src="{{ url_for('static', filename='images/diretor1.jpg') }}" alt="Foto do Diretor">
    </div>
    <div class="informacoes">
      <h2>Nome do Diretor</h2>
      <p>Cargo: Presidente</p>
    </div>
  </div>

  <div class="diretor">
    <div class="foto">
      <img src="{{ url_for('static', filename='images/diretor2.jpg') }}" alt="Foto do Diretor">
    </div>
    <div class="informacoes">
      <h2>Nome do Diretor</h2>
      <p>Cargo: Vice-presidente</p>
    </div>
  </div>

  <!-- Adicione mais diretores aqui conforme necessário -->
</div>

{% endblock %}
