{% extends "base-logged.html" %}
{% block title %}Registrar Contribuição{% endblock %}
{% block link2 %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/registrar_contribuicao.css') }}" />{% endblock %}
{% block section %}
<section>
	<h2>Registrar Contribuição</h2>
	<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit facere, officia non</p>

	<form method="POST">
		<div>
			<label for="terreno_id">Morador:</label><br />
			<select name="terreno_id" id="terreno_id">
				{% for terreno in terrenos %}
				<option value="{{ terreno.id }}">{{ terreno.nome_completo }}</option>
				{% endfor %}
			</select>
		</div>
		<div>
			<label for="valor">Valor(use ponto para seprar os centavos):</label><br />
			<input type="text" name="valor" id="valor" />
		</div>
		<div>
			<label for="data">Data:</label><br />
			<input type="date" name="data" id="data" />
		</div>
		<div>
			<label for="tipo_contribuicao">Tipo de Contribuição:</label><br />
			<select name="tipo_contribuicao" id="tipo_contribuicao">
				{% for tipo in tipos_contribuicao_padrao %}
				<option value="{{ tipo }}">{{ tipo }}</option>
				{% endfor %}
				<option value="Outro">Outro</option>
			</select>
		</div>
		<div>
			<label for="observacao">Observação:</label><br />
			<textarea name="observacao" id="observacao"></textarea>
		</div>
		<button type="submit">Registrar</button>
	</form>
</section>
{% endblock %}