{% extends "base.html" %} {% block title %}Tesouraria{% endblock %} {% block
link %}terrenos{% endblock %} {% block content %}
<h1>Tesouraria ACPRAF</h1>
<h2>Gerenciamento de Terrenos</h2>
<button type="button" onclick="loadIframe(registraUrl)">
  Registrar Contribuição
</button>
<button type="button" onclick="loadIframe(visualizarUrl)">
  Visualizar Contibuições
</button>
<!-- Iframe onde as páginas serão carregadas -->
<iframe src="" class="content-iframe" id="contentIframe"></iframe>

<script>
  var registraUrl = "{{ url_for('registrar_contribuicao') }}";
  var visualizarUrl = "{{ url_for('visualizar_contribuicoes') }}";
  function loadIframe(url) {
    document.getElementById("contentIframe").src = url;
  }
</script>
{% endblock %}
